@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat+Subrayada&display=swap');

body {
    margin: 0;
    min-height: 100vh;
    box-sizing: border-box;
    background: linear-gradient(184deg, #b4babe, #2c2b2c);
    font-family: 'Bebas Neue', cursive;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main {
    padding: 20px 30px;

    &__title {
        position: relative;
        color: #446670;
        text-align: center;

        &::after {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 30px;
            width: 100%;
            height: 2px;
            background: #198783;
            box-shadow: 2px 2px 5px 0px grey;
        }
    }
}

.exchange {
    display: flex;
    justify-content: space-evenly;
    
    @media (max-width: 1200px) {
        margin: 0 auto;
        flex-direction: column;
        width: 300px;
        gap: 20px;
    }

    &__button {
        padding: 10px 38px;
        background-color: #F4D03F;
        background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);                                 
        border-radius: 10px;
        text-decoration: none;
        text-transform: uppercase;
        color: #143133;
        font-weight: 500;
        letter-spacing: 1px;
        box-shadow: 0 0 5px 0px #223e40;

        &:hover {
            background-color: #F4D03F;
            background-image: linear-gradient(-132deg, #F4D03F 0%, #16A085 100%);                    
        }
    }   
}

h2 {
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    color: #a33e2a;
}

h4 {
    margin: 0;
    width: 300px;
    padding: 10px 38px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid;
    background-color: #A9C9FF;
    background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
}

input {
    border-radius: 10px;
    border: 2px #0000ff solid;
    background-color: #FAACA8;
    background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
    font-family: 'Bebas Neue', cursive;
    font-size: 24px;
}